#Stops hotlinking of images
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?johnmarkkarr.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?jmkzlaw.github.io [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

#This stops hosting service from injecting a stat script on my page

php_value auto_prepend_file none
php_value auto_append_file none

#This prevents someone doing an index of all files on your site

Options -Indexes

ErrorDocument 400 /400.html
ErrorDocument 401 /401.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

AddType video/ogg .ogm
AddType video/ogg .ogv
AddType video/ogg .ogg
AddType video/webm .webm
AddType video/mp4 .mp4
AddType video/x-m4v .m4v
AddType audio/mpeg .mp3
AddType audio/ogg .ogg
AddType audio/mp4 .m4a
AddType audio/wav .wav
AddType audio/webm .weba

#This is the redirect to Interpol for all unwanted visitors.
#The * wildcards cover the range of all IP's numbers at the end of ie: 50.154, etc.
# All IP's below are GM
#Turned back on by removing ###

RewriteEngine On
RewriteBase /
RewriteCond %{REMOTE_HOST} !^50\.154\.*\.* [OR]
RewriteCond %{REMOTE_HOST} !^172\.56\.*\.* [OR]
RewriteCond %{REMOTE_HOST} !^160\.16\.*\.* [OR]
RewriteCond %{REMOTE_HOST} !^208\.54\.*\.*
RewriteRule ^.*$ http://www.interpol.int/Member-countries/Europe/France [R,L]

