@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/aboutlaws/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.pageHeader {
width:100%
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	clear: none;
	float: none;
}

#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#aboutlaw {
	clear: none;
	float: none;
	margin-left: 0;
	display: block;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	background-color: rgba(0,0,0,0.5);
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 17px;
	padding-left: 17px;
	border-radius: 25px;
}

#whoisjmk {
	background-color: rgba(0,0,0,0.5);
	text-align: justify;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-radius: 25px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	margin-bottom: 10px;
}

#mooneysolution {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.zeroMargin_mobile {
margin-left: 0;
}

.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

#header {
	display: block;
	text-align: center;
}

#aboutlaw {
	clear: none;
	float: none;
	margin-left: 0;
	display: block;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	background-color: rgba(0,0,0,0.5);
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 17px;
	padding-left: 17px;
	border-radius: 25px;
}

#whoisjmk {
	background-color: rgba(0,0,0,0.5);
	text-align: justify;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-radius: 25px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	margin-bottom: 10px;
}

#mooneysolution {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.hide_tablet {
display: none;
}

.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 852px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
}

#header {
	display: block;
	text-align: center;
}

#aboutlaw {
	clear: none;
	float: none;
	margin-left: 0;
	display: block;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	background-color: rgba(0,0,0,0.5);
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 17px;
	padding-left: 17px;
	border-radius: 25px;
}


#whoisjmk {
	background-color: rgba(0,0,0,0.5);
	text-align: justify;
	padding-right: 17px;
	padding-left: 17px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-radius: 25px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}
#mooneysolution {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 68.6%;
}

.zeroMargin_desktop {
margin-left: 0;
}

.hide_desktop {
display: none;
}
}
#cho {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 24px;
}
