.gridContainer.clearfix #header div {
	padding: 20px 0px 20px 0px;
}
#whoisjmkarticle {
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 17px;
}
#jmkbrookecourt {
	float: left;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 0px;
	border-radius: 24px;
	padding-right: 10px;
}
#jmksonomalawyers {
	float: right;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 24px;
}
#georgiamoses {
	float: left;
	padding-bottom: 10px;
	padding-left: 0px;
	border-radius: 25px;
	padding-right: 10px;
}
#article {
	background-color: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding-right: 17px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 17px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
#jonbenet1 {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
}

#donaldsmith {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}
#law {
	float: right;
	padding-bottom: 10px;
	border-radius: 25px;
	padding-left: 10px;
}
#cherish {
	border-radius: 25px;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}
#plainview {
	border-radius: 25px;
	font-style: italic;
	padding-bottom: 10px;
	text-align: center;
	padding-right: 10px;
}
.returntop {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}.center {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	}
.video {
	clear: both;



}
.scoundrel {
	padding-top: 7px;
	margin-bottom: 30px;
}
.statement {
	font-style: italic;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	text-shadow: 0px 0px;
	padding-top: 5px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 5px;
	clear: both;
	max-width: 900px;
	margin-bottom: 23px;
	text-align: justify;
	background-color: rgba(0,0,0,0.65);
	border-radius: 20px;
	font-size: medium;
}
.videomargin {
	margin-bottom: 22px;
}
.audiomargin {
	margin-bottom: 12px;

}
.home {
	max-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: x-large;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	color: rgba(255,255,255,1.00);
}

}
.center {
	margin-left: auto;
	margin-right: auto;
}
/* VideoJS - show poster, show play button, hide bottom controls */

.video-js.vjs-ended .vjs-poster {
display: block;
}
.video-js.vjs-ended .vjs-control-bar {
  display: none;
}
.video-js.vjs-ended .vjs-big-play-button {
  display: block;
}

/* VideoJS - END */
.bold {
	font-weight: bolder;
}
.headliner {
	padding-top: 20px;
}
